{% extends 'tienda/base.html' %}
{% load static %}

{% block titulo %}Inicio - Go Play!{% endblock %}

{% block contenido %}
<main class="contenedor-categorias my-4">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 contenedor-categorias">

        <div class="col">
            <a href="{% url 'categorias_accion' %}" class="card h-100 shadow-sm category-card text-decoration-none border-0 overflow-hidden">
                <img src="{% static 'tienda/img/img_accion.jpg' %}" class="card-img-top img-fluid" alt="Categoría Acción">
                <div class="card-body bg-dark">
                    <h2 class="card-title text-center text-uppercase fs-5 mb-0 text-light">Acción</h2>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="{% url 'categorias_aventura' %}" class="card h-100 shadow-sm category-card text-decoration-none border-0 overflow-hidden">
                <img src="{% static 'tienda/img/img_aventura.jpeg' %}" class="card-img-top img-fluid" alt="Categoría Aventura">
                <div class="card-body bg-dark">
                    <h2 class="card-title text-center text-uppercase fs-5 mb-0 text-light">Aventura</h2>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="{% url 'categorias_estrategia' %}" class="card h-100 shadow-sm category-card text-decoration-none border-0 overflow-hidden">
                <img src="{% static 'tienda/img/img_estrategia.webp' %}" class="card-img-top img-fluid" alt="Categoría Estrategia">
                <div class="card-body bg-dark">
                    <h2 class="card-title text-center text-uppercase fs-5 mb-0 text-light">Estrategia</h2>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="{% url 'categorias_disparos' %}" class="card h-100 shadow-sm category-card text-decoration-none border-0 overflow-hidden">
                <img src="{% static 'tienda/img/img_disparos.jpg' %}" class="card-img-top img-fluid" alt="Categoría Disparos">
                <div class="card-body bg-dark">
                    <h2 class="card-title text-center text-uppercase fs-5 mb-0 text-light">Disparos</h2>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="{% url 'categorias_supervivencia' %}" class="card h-100 shadow-sm category-card text-decoration-none border-0 overflow-hidden">
                <img src="{% static 'tienda/img/img_supervivencia.jpg' %}" class="card-img-top img-fluid" alt="Categoría Supervivencia">
                <div class="card-body bg-dark">
                    <h2 class="card-title text-center text-uppercase fs-5 mb-0 text-light">Supervivencia</h2>
                </div>
            </a>
        </div>
        
    </div>
</main>
{% endblock %}