--
-- Create model Rol
--
CREATE TABLE "TIENDA_ROL" ("ID" NUMBER(19) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "NOMBRE" NVARCHAR2(50) NULL UNIQUE);
--
-- Create model PerfilUsuario
--
CREATE TABLE "TIENDA_PERFILUSUARIO" ("ID" NUMBER(19) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "TELEFONO" NVARCHAR2(15) NULL, "DIRECCION" NVARCHAR2(200) NULL, "USER_ID" NUMBER(11) NOT NULL UNIQUE, "ROL_ID" NUMBER(19) NULL);
ALTER TABLE "TIENDA_PERFILUSUARIO" ADD CONSTRAINT "TIENDA_PE_USER_ID_F5A80593_F" FOREIGN KEY ("USER_ID") REFERENCES "AUTH_USER" ("ID") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "TIENDA_PERFILUSUARIO" ADD CONSTRAINT "TIENDA_PE_ROL_ID_CABD633E_F" FOREIGN KEY ("ROL_ID") REFERENCES "TIENDA_ROL" ("ID") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "TIENDA_PER_ROL_ID_CABD633E" ON "TIENDA_PERFILUSUARIO" ("ROL_ID");
