<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Play! - Aventura</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/estilos.css">
</head>
<body>
    <header>
        <a href="/index.html" class="boton-volver">⬅ Volver al Inicio</a>
        <h1>AVENTURA</h1>
    </header>

    <main class="contenedor-fichas">
        
        <article class="ficha-juego">
            <img src="/imagenes/awayout.jpg" alt="A Way Out">
            <div class="info-juego">
                <h3>A Way Out</h3>
                <p>A Way Out es una aventura exclusivamente cooperativa en la que te metes en la piel de uno de los dos reclusos protagonistas en su intrépida fuga de la cárcel.</p>
                <span class="precio">CLP$ 20.000</span>
            </div>
        </article>

        <article class="ficha-juego">
            <img src="/imagenes/hogwartslegacy.jpg" alt="Hogwarts Legacy">
            <div class="info-juego">
                <h3>Hogwarts Legacy</h3>
                <p>Hogwarts Legacy es un RPG inmersivo de acción en mundo abierto. Ahora puedes tomar el control de la acción y ser el centro de tu propia aventura en el mundo mágico.</p>
                <span class="precio">CLP$ 42.000</span>
            </div>
        </article>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>